.GridItem {
    background-image: none;
    border: none;
    flex: 1;
    font-size: .5rem;
    margin-bottom: 1px;
    margin-left: 1px !important;
    margin-right: 1px;
    margin-top: 1px;
    padding: 3px 5px;
    text-shadow: none;
}
@media screen and (min-width: 425px) {
    .GridItem {
        font-size: .8rem;
    }
}
@media screen and (min-width: 768px) {
    .GridItem {
        font-size: 1rem;
    }
}
@media screen and (min-width: 1024px) {
    .GridItem {
        font-size: 1.4rem;
    }
}

.GridItem:disabled {
    opacity: .2;
}

.GridItem--is-on {
    background-image: none;
}

.GridItem:hover {
    background-color: hsl(349, 73%, 80%) !important;
}
