.ui.basic.buttons .button,
.ui.basic.button {
    background: #fff !important;
}

.ui.compact.buttons .button,
.ui.compact.button {
    padding: 0.58928571em .18em 0.58928571em;
}

.GridItem {
    flex: 1 !important;
}

.ui.buttons .button:first-child,
.ui.buttons .button:last-child {
    border-radius: 0 !important;
}

.ui.basic.buttons .button.GridItem--suggested,
.ui.basic.button.GridItem--suggested {
    background: #e3eff7 !important;
}

.ui.basic.buttons .button.GridItem--is-inactive-row,
.ui.basic.button.GridItem--is-inactive-row {
    background: #eee !important;
}

.ui.basic.buttons .button.GridItem:hover,
.ui.basic.button.GridItem:hover {
    background: #ddd !important;
}

.ui.basic.buttons .button.GridItem--is-on,
.ui.basic.button.GridItem--is-on {
    background: #f7e3ef !important;
}

.ui.basic.buttons .button.GridItem--is-active,
.ui.basic.button.GridItem--is-active {
    background: #e0e1e2 !important;
    box-shadow: 0 0 0px 1px #fff inset !important;
}

.GridItem--is-capitalized {
    text-transform: capitalize !important;
}

.GridItem--is-uppercase {
    text-transform: uppercase !important;
}

.GridItem--pre {
    flex: 0 0 38px !important;
    padding: 0.78571429em .5em 0.78571429em !important;
}

@media screen and (min-width: 425px) {
    .GridItem {
        font-size: .8rem;
    }
}
@media screen and (min-width: 768px) {
    .GridItem {
        font-size: 1rem;
    }
}
@media screen and (min-width: 1024px) {
    .GridItem {
        font-size: 1.4rem;
    }
}

.GridItem:disabled {
    opacity: .2;
}

.GridItem--is-on {
    background-image: none;
}

.GridItem:hover {
    background-color: hsl(349, 73%, 80%) !important;
}
