.InfoBar {
    background-color: #e3eff7;
    border-top: 1px solid  #d2dad1;
    color: rgba(0,0,0,0.6);
}

.InfoBar__inner {
    margin: 0 auto;
    max-width: 990px;
}

.InfoBar__items {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    text-align: center;
}

.InfoBar__item {
    flex: 1;
    padding: 0 6px;
}

.InfoBar__item--inner {
    display: flex;
    flex-direction: column;
}

.InfoBar__symbol {
    font-size: 1rem;
}

.InfoBar__label {
    font-size: .5rem;
}

@media screen and (min-width: 425px) {
    .InfoBar__symbol {
        font-size: 1.2rem;
    }

    .InfoBar__label {
        font-size: .7rem;
    }
}

@media screen and (min-width: 768px) {
    .InfoBar__symbol {
        font-size: 1.4rem;
    }

    .InfoBar__label {
        font-size: .8rem;
    }
}
